<li class="customer-nexport-training">
    <a href="@Url.RouteUrl("Plugin.Misc.Nexport.MyTraining")" class="inactive">
        @T("Plugins.Misc.Nexport.Navigation.MyTrainings")
    </a>
</li>
<li class="customer-nexport-supplemental-info-answers">
    <a href="@Url.RouteUrl("Plugin.Misc.Nexport.SupplementalInfoAnswers")" class="inactive">
        @T("Plugins.Misc.Nexport.Navigation.SupplementalInfoAnswers")
    </a>
</li>

<script asp-location="Footer">
    $(document).ready(function() {
        $("a[href=\"" + window.location.pathname + "\"]").removeClass("inactive").addClass("active");
    });
</script>