@{
    Html.AddCssFileParts(ResourceLocation.Head, "~/Plugins/Misc.Nexport/Content/nexport.css");
}

<div style="text-align: center;">
    <input type="button" value="Cancel" class="button-2 order-cancel-submit-btn" onclick="">
</div>