@using Nop.Plugin.Misc.Nexport.Services

@inject IWorkContext workContext
@inject NexportService nexportService

@model Nop.Plugin.Misc.Nexport.Domain.NexportOrderInvoiceItem

@{
    var currentUserId = nexportService.FindUserMappingByCustomerId(workContext.CurrentCustomer.Id).NexportUserId;
}

<div id="redemption-details" style="">
    @if (Model.RedeemingUserId == currentUserId)
    {
        if (Model.RedeemingUserId != null)
        {
            <a href="javascript:void(0);" onclick="navigateToNexportClassroom(this); return false;"
               data-order-invoice-id="@Model.Id" id="go-to-nexport-link">Click here to go to Nexport</a>
        }
    }
    else
    {
        <span>This product has been redeemed by user [@Model.RedeemingUserId]</span>
    }
</div>
<script>
    function navigateToNexportClassroom(element) {
        var orderInvoiceItemId = $(element).data("order-invoice-id");
        if (orderInvoiceItemId) {
            var url = "@Url.Action("GoToNexport", "NexportIntegration")";
            url += "?orderInvoiceItemId=" + orderInvoiceItemId;

            navigateToNexport(url);
        }
    }
</script>