@model Nop.Plugin.Misc.Nexport.Models.SupplementalInfo.NexportSupplementalInfoOptionModel

@{
    Layout = "_AdminPopupLayout";

    //page title
    ViewBag.Title = "Add a new option";

    Html.AddScriptParts(ResourceLocation.Footer, "~/Plugins/Misc.Nexport/Scripts/nexport_plugin_common.js");
}

<form asp-controller="NexportIntegration" asp-action="SupplementalInfoOptionCreatePopup"
      asp-route-questionId="@Context.Request.Query["questionId"]"
      asp-route-btnId="@Context.Request.Query["btnId"]"
      asp-route-formId="@Context.Request.Query["formId"]">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            Add new supplemental info option
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
        </div>
    </div>
    @await Html.PartialAsync("~/Plugins/Misc.Nexport/Views/SupplementalInfo/Option/_CreateOrUpdate.Option.cshtml", Model)
</form>