@model Nop.Plugin.Misc.Nexport.Models.Organization.NexportOrganizationListModel

@{
    var orgs = Model.Organizations.Select(org => new SelectListItem
    {
        Text = $"{org.Name} ({org.ShortName})",
        Value = org.OrgId.ToString()
    }).ToList();
    orgs.Insert(0, new SelectListItem
    {
        Text = "Select the organization to view the catalogs",
        Value = null
    });
}

<div class="form-group">
    <div class="col-md-12 organization-selection">
        <div class="pull-left" style="padding-right: 1em;">
            <label style="padding-top: 9px;">
                Organization
            </label>
        </div>
        <nop-select asp-for-name="nexport-organization-list" asp-items="@orgs" style="width: 100%; max-width: 350px;" />
    </div>
</div>