@model Nop.Plugin.Misc.Nexport.Models.NexportOrganizationListModel

@{
    var orgs = Model.Organizations.Select(org => new SelectListItem
    {
        Text = $"{org.Name} ({org.ShortName})",
        Value = org.OrgId
    }).ToList();
    orgs.Insert(0, new SelectListItem
    {
        Text = "Select the organization to view the catalogs",
        Value = null
    });
}

<div class="form-group">
    <div class="col-md-12 organization-selection">
        <div class="label-wrapper">
            <label class="control-label">
                Organization
            </label>
        </div>
        <nop-select asp-for-name="nexport-organization-list" asp-items="@orgs" style="width: auto; min-width: 300px;" />
    </div>
</div>