@model Nop.Plugin.Misc.Nexport.Models.ProductMappings.NexportProductMappingListSearchModel

@{
    const string hideNexportMappingsBlockAttributeName = "ProductPage.HideNexportMappingsBlock";
    var hideNexportMappingsBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideNexportMappingsBlockAttributeName);
}

<nop-panel asp-name="nexport-mapping-list" asp-icon="fa fa-paperclip" asp-title="Nexport Product Mappings"
           asp-hide-block-attribute-name="@hideNexportMappingsBlockAttributeName" asp-hide="@hideNexportMappingsBlock" asp-advanced="false">
    <div class="panel-body">
        <div class="sub-panel" id="product-mapping-container">
            @* ReSharper disable once Mvc.PartialViewNotResolved *@
            @await Html.PartialAsync("~/Plugins/Misc.Nexport/Views/ProductMappingTable.cshtml", Model)
        </div>
    </div>
</nop-panel>