<div id="nexport-actions-container">
    @*@if (Model != null && Model.Id > 0)
        {
            <button type="submit" id="syncProductBtn" class="btn bg-olive" name="syncnexportproduct">
                <i class="fa fa-refresh"></i>
                Synchronize from Nexport
            </button>
        }*@
</div>