@model Nop.Plugin.Misc.Nexport.Domain.NexportProductMapping

@if (Model != null && Model.Id > 0)
{
    <div style="margin: 0 0 25px;">
        Credit Hours:<span>@Model.CreditHours</span>
    </div>
}